img {
  max-width: 200px;
}

.cardbutton {
  border-radius: 10px;
  border: none;
  background-color: transparent;
}

.cardbutton:hover {
  background-color: green;
  cursor: pointer;
}
.card{
  height: 325px;
  margin: 10px 0;
  max-width: 200px;
}