.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    .content{
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 3px
    }